$bar-hpadding: calc(11500vw / 1440 + 20px); 
$dashboard-vpadding: calc(3000vh / 1024 + 10px);
$header-hmarging: calc(1200vw / 1440 + 8px);    
$title-size: calc(1600vw / 1440 + 20px);



.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100vw;
    padding: $dashboard-vpadding $bar-hpadding;

    .card-container {
        display: flex;
        flex-direction: column;   
        width: 100%;

        margin: 0 0 0 0;
        .header {
            display: flex;
            justify-content: space-between;    
            margin: 0 0 $dashboard-vpadding 0;
 
            span {
                font-size: $title-size;    
            }

            svg {
                margin: 0 $header-hmarging 0 0px;    
            }
        }
        .cards {
            display: flex;
            flex-direction: row;   
            align-items: center;
            width: 100%;
        } 
    }

}

@media screen and (max-width: 769px){

   .dashboard-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        padding: $dashboard-vpadding $bar-hpadding;

        .card-container {
            display: flex;
            flex-direction: column;   
            justify-content: center;
            width: 100%;

            .header {
                display: flex;
                justify-content: space-between;    
                margin: 0 0 $dashboard-vpadding 0;

                span {
                    font-size: $title-size;    
                }
                svg {
                    margin: 0 0 0 0px;    
                }
            }
            .cards {
                display: flex;
                flex-direction: column;
                width: 100%;
 
            } 
        }

    }
      
}
    