.box-container {
    display: flex;
    flex-direction: row;

    margin: 0 20px;
    pading: 24px;    
    
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    .info {
        display: flex;
        flex-direction: column;    
    }

    svg {
        background: #F4C23B;
        border-radius: 99px;    
    }
    
}