@import url('https://fonts.googleapis.com/css2?family=Roboto:Medium@100;500&display=swap');
@media screen and (max-width: 800px){
    .login-container {
        
        .image {      
            display: none !important;
        
        }

        .card {

        }
    }
      
}
    
.login-container{
    display: grid;
    
    max-height: 100vh;
    height: 100vh;
   
    grid-template-columns: 1fr 1fr;
   
  
    .image{
         
            background-color: #55dbec;
            max-height: 100%;
      
        }

    .card{
     
        background-color: #c40d0d;
        display: flex;
        flex-direction: column;
        max-height: 100%;
       

        padding: 80px 20% 20px 20%;

        .header {            
            text-align: center;  
            margin: 20px;
            padding: 0px 8px 0px 8px; 
        }

        form {
            display: flex;
            flex-direction: column;

            padding: 8px 10% 0px 10%;

            .field{
                display: flex;
                flex-direction: column;
                padding: 0px 0px 10px 0px;    

                label {
                    height: 16px;
                    font: 14px 'Roboto', sans-serif;       
                }

                input {
                    height: 56px;
                    font: 14px 'Roboto', sans-serif;    
                    padding: 0px 16px 0px 16px;
                }
            }
        }
    }
}


                      