@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@media screen and (max-width: 800px){
    .login-container {
        
        .image {      
            display: none !important;
        
        }

        .card {

        }
    }
      
}
    
.login-container {
    display: grid;
    
    max-height: 100vh;
    height: 100vh;
   
    grid-template-columns: 1fr 1fr;
   
  
    .image {
         
            background-color: #55dbec;
            max-height: 100%;
      
        }

    .card {
     
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        width: 100%;
       

        padding: 80px 18% 20px 18%;

        .header {                        
            margin: 20px 0px 20px 0px;

            display: inline-block;

            .title {             
                text-align: center;     
                font: 36px 'Roboto';
                line-height: 42px;
                color: #333333;

                width: 100%;
                display:inline-block;

                margin-bottom: 16px; 
               
            }

            .description {
                text-align: center;  
                font: 24px 'Roboto'; 
                color: #828282;
                line-height: 28px;

                width: 100%;
                display: inline-block;
            }

          
        }

        form {
            display: flex;
            flex-direction: column;

            padding: 8px 10% 0px 10%;

            .field {
                display: flex;
                flex-direction: column;
                padding: 0px 0px 10px 0px;    

                label {
                    height: 16px;
                    font: 14px 'Roboto', sans-serif;       
                }

                input {
                    height: 56px;
                    
                    background-color: #FFFFFF;
                    border-radius: 8px;

                    font: 14px 'Roboto', sans-serif;    
                    
                    padding: 0px 16px 0px 16px;
                }
            }
        }
    }
}


                      