$bar-hpadding: calc(11500vw / 1440 + 20px); 
$home-vpadding: calc(3000vh / 1024 + 10px);
$header-hmarging: calc(2000vw / 1440 + 12px);    
$title-size: calc(1600vw / 1440 + 20px);

.header {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin: 0 0 $home-vpadding 0;

    span {
        font-size: $title-size;    
    }
   
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    padding: $home-vpadding $bar-hpadding;
    

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0 0 $home-vpadding 0;
       
        .cards {
            display: flex;
            flex-direction: row;   
            align-items: center;
            width: 100%;
        } 
    }

    .list {
        .table-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;

            padding: 3px 25px 3px 40px;

            .closing {
                display: flex;
                flex-direction: row;               
            }
            div {               
                width: 100%;    
            }

            span {
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -0.04em;


            }    
        }    
    }

}

@media screen and (max-width: 780px){    
   .home-container {   
        .dashboard {             
            justify-content: center;
            width: 100%;

            .cards {                
                flex-direction: column;               
 
            } 
        }
    }      
}
    