$bar-hpadding: calc(11500vw / 1440 + 20px);
$home-vpadding: calc(3000vh / 1024 + 10px);
$header-hmarging: calc(2000vw / 1440 + 12px);

$dropdown-nav-width: calc(120vw / 1440 + 69px);
$dropdown-nav-hpadding: calc(800vw / 1440 + 10px);
$title-size: calc(1600vw / 1440 + 20px);
$option-size: calc(1000vw / 1440 + 8px);
$label-size: calc(400vw / 1440 + 10px);
$label-size2: calc(600vw / 1440 + 8px);

$table-head-r-padding: calc(1500vw / 1440 + 10px);
$table-head-l-padding: calc(3000vw / 1440 + 10px);

$svg-width: calc(1600vw / 1440 + 8px);
$svg-height: calc(1200vh / 1440 + 8px);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 $home-vpadding 0;

    .long {
        display: block;
    }

    .short {
        display: none;
    }

    span {
        font-size: $title-size;
        margin-right: 8px;
    }

    svg {
        width: $svg-width;
        height: $svg-height;
        transition: ease all 0.2s;

        &:hover {
            width: 27px;
            height: 23px;

            path {
                stroke: black;
            }
        }
    }

    .dropdown-nav {
        overflow: hidden;

        transition: ease height 0.8s;

        .currency-container {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .currency {
                display: flex;
                flex-direction: row;
                justify-content: center;

                align-items: center;

                padding: 8px $dropdown-nav-hpadding;

                border: 1px solid #e0e0e0;
                box-sizing: border-box;
                border-radius: 4px;

                span {
                    margin: 0 8px;
                    transition: ease all 0.8s;
                    font-size: $option-size;
                    color: #333333;
                }
            }
        }
        div {
            svg {
                width: $label-size;
                height: 8px;

                margin: 0 4px;

                &:hover {
                    path {
                        stroke: black;
                    }
                }
            }
        }
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    padding: $home-vpadding $bar-hpadding;

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0 0 $home-vpadding 0;

        .cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
    }

   
}

@media screen and (max-width: 869px) {
    .home-container {
        .dashboard {
            justify-content: center;
            width: 100%;

            .cards {
                flex-direction: column;
            }
        }
    }
}

