$bar-hpadding: calc(11500vw / 1440 + 20px); 
$home-vpadding: calc(3000vh / 1024 + 10px);
$header-hmarging: calc(2000vw / 1440 + 12px);    
$title-size: calc(1600vw / 1440 + 20px);

.header {
    display: flex;
    justify-content: space-between;    
    margin: 0 0 $home-vpadding 0;

    span {
        font-size: $title-size;    
    }
   
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    padding: $home-vpadding $bar-hpadding;
    

    .dashboard {
        display: flex;
        flex-direction: column;   
        width: 100%;

        margin: 0 0 $home-vpadding 0;
        .header {          
            svg {
                margin: 0 $header-hmarging 0 0px;    
            }
        }
        .cards {
            display: flex;
            flex-direction: row;   
            align-items: center;
            width: 100%;
        } 
    }

}

@media screen and (max-width: 769px){
    

   .home-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        
        padding: $home-vpadding $bar-hpadding;

        .dashboard {
            display: flex;
            flex-direction: column;   
            justify-content: center;
            width: 100%;

            .header {
                display: flex;
                justify-content: space-between;    
                margin: 0 0 $home-vpadding 0;

                span {
                    font-size: $title-size;    
                }
                svg {
                    margin: 0 0 0 0px;    
                }
            }
            .cards {
                display: flex;
                flex-direction: column;
                width: 100%;
 
            } 
        }

    }
      
}
    