html {
   
}
body {
    background-color: #FFFFFF;
    overflow-x: hidden;   
    min-height: 100vh;
    min-width: 100vw;
    display: flex; 

    font: 18px 'Roboto', sans-serif;  
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root, .app, .routes-container {
    display: flex;
    flex-grow: 1;
        
}

.routes-container {
    height: 100%;
    flex-direction: column; 
    
}